server {
    listen       80 default_server;
    server_name  {{ server_name }};

    root /app/public;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ /\.ht {
        deny all;
    }

    location ~ \.php$ {
        client_max_body_size {{ client_max_body_size }};
        try_files $uri /index.php =404;
        fastcgi_pass {{ fastcgi_pass_host }}{{ '_' + item if item }}:{{ fastcgi_pass_port }};
        fastcgi_index index.php;
        fastcgi_buffers {{ fastcgi_buffers }};
        fastcgi_buffer_size {{ fastcgi_buffer_size }};
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

}
