DB_DRIVER=mysql
DB_SERVER=mysql_{{ env }}
DB_USER={{ mysql_user }}
DB_PASSWORD={{ mysql_password }}
DB_DATABASE={{ mysql_database }}
DB_SCHEMA=public
DB_TABLE_PREFIX=

CRAFT_ENVIRONMENT={{ craft_environment }}
CRAFT_SECURITY_KEY={{ craft_security_key }}

{% if env == "local" %}
CRAFT_TEST_TO_EMAIL={{ craft_test_to_email | default("developer@domain.com") }}
DEV_SERVER_PROXY=http://localhost:{{ nginx_port }}
{% endif %}
